*.dcm
*.pdf
*.pyd
*.dll
*.exe
autoMRISimQATimerClinicTest.prj
autoMRISimQATimerClinicTest.prj
autoMRISimQATimerClinicTest/PackagingLog.txt
autoMRISimQATimerClinicTest/for_testing/mccExcludedFiles.log
autoMRISimQATimerClinicTest/PackagingLog.txt
autoMRISimQATimerClinicTest.prj
